@media screen and (max-width: 1024px) {
    .title-categories, .container-categories-carrousel {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .slider-categories {
        max-width: 85%;
        margin: 0 auto;
    }
    #moveLeftCategorie {
        left: 1%;
    }
    
    #moveRightCategorie {
        right: 1%;
    }
}

@media screen and (max-width: 768px) {
    .title-categories h1 {
        font-size: var(--font-large);
        line-height: var(--line-large);
    
    }
    .title-categories .btn-categories button {
        font-size: var(--font-xsmall);
        line-height: var(--line-xsmall);
    }
}

@media screen and (max-width: 414px) {
    .title-categories {
        justify-content: center;
        flex-direction: column;
    }
    .title-categories h1 {
        font-size: var(--font-intermedium);
        line-height: var(--line-intermedium);
        margin-bottom: 2rem;
    
    }
    .btn-categories {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }
    .title-categories .btn-categories button {
        font-size: var(--font-xsmall);
        line-height: var(--line-xsmall);
        margin-left: 0px;
    }
    .slider-categories {
        max-width: auto;
        margin: 0 auto;
    }
    .btn-nav-categories {
        top: 60%;
        transform: translateY(-60%);
    }
    .btn-nav-categories .fa-arrow-left, .btn-nav-categories .fa-arrow-right {
        font-size: 2rem;
    }
}

@media screen and (max-width: 375px) {
    .categories {
        width: 12rem;
        height: 18rem;
        padding: 1rem;
    }
}

@media screen and (max-width: 320px) {
    .title-categories .btn-categories button {
        font-size: var(--font-small);
        line-height: var(--line-small);
    }
    .slider-categories {
        gap: 1.5rem;
    }
    .categories {
        width: 11rem;
        height: 16rem;
        padding: 1rem;
    }
    .btn-nav-categories {
        width: 3rem;
        height: 3rem;
    }
    .-categories .fa-arrow-left, .-categories .fa-arrow-right {
        font-size: 1.5rem;
    }
}