.container.top-bar{
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.6rem 0;
    animation: showHeaderTop 0.5s ease;
}
.wrapper-header-top {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
@keyframes showHeaderTop {
    from {
        transform: translateY(-300px);
    }
    to {
        transform: translateY(0px);
    }
}
/*LOGO*/
.wrapper-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wrapper-logo img {
    position: relative;
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
}
.text-logo h1{
    font-size: var(--font-large);
    line-height: var(--line-large);
    font-weight: 700;
    color: var(--base-green);
}
.text-logo span {
    font-weight: 500;
    font-size: var(--font-xsmall);
    line-height: var(--line-xsmall);
    color: var(--gray);
    text-transform: uppercase;
}
/*FIM LOGO*/
/*SEARCH*/
.wrapper-search {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: var(--search-bg-header);
    padding: 1.3rem;
    position: relative;
}
.wrapper-search select {
    font-weight: 600;
    font-size: var(--font-xsmall);
    line-height: var(--line-xsmall);
    font-family: var(--quicksand);
    background: transparent;
    border: none;
    outline: none;
    border-right: 1px solid var(--gray);
    padding-right: 1rem;
    cursor: pointer;
}
.wrapper-search input {
    font-size: var(--font-xsmall);
    line-height: var(--line-xsmall);
    font-family: var(--quicksand);
    background: transparent;
    border: none;
    outline: none;
    margin-left: 0.5rem;
    width: 25rem;
}
.wrapper-search input::placeholder {
    font-weight: 500;
    font-size: var(--font-xsmall);
    line-height: var(--line-xsmall);
    font-family: var(--quicksand);
    color: var(--gray);
    transition: all 0.3s;
}
.wrapper-search input:focus::placeholder {
    opacity: 0;
}
.wrapper-search button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background: var(--base-green);
    border: none;
    width: 5.5rem;
    cursor: pointer;
    transition: all 0.3s;
}
.wrapper-search button:hover {
    filter: brightness(0.9);
}
.wrapper-search button img {
    width: 2.5rem;
    height: 2.5rem;
}
/*FIM SEARCH*/
/*CART*/
.wrapper-cart {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5rem;
}
.my-cart .chevron-down {
    width: 1.8rem;
    height: 1.8rem;
    cursor: pointer;
}
.favorites {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.favorites h3 {
    font-weight: 500;
    font-size: var(--font-small);
    line-height: var(--line-small);
    color: var(--black);
    margin-left: 1rem;
}
.wrapper-favorites .img-favorites, .my-cart .img-cart {
    position: relative;
    transition: all 0.3s;
}
.wrapper-favorites .img-favorites img, .my-cart .img-cart img {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
}
.wrapper-favorites .img-favorites:hover, .my-cart .img-cart:hover {
    transform: scale(1.2);
}
.wrapper-favorites span, .my-cart span {
    position: absolute;
    top: -5px;
    right: -3px;
    width: 1.5rem;
    height: 1.5rem;
    z-index: 2;
    font-size: 0.8rem;
    text-align: center;
    color: var(--white);
    background: var(--base-green);
    border-radius: 50%;
    border: 2px solid var(--white);
    cursor: pointer;
}
.my-cart {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    position: relative;
}
.wrapper-text-cart h3, .wrapper-text-cart h4 {
    font-weight: 500;
    font-size: var(--font-small);
    line-height: var(--line-small);
    color: var(--black);
}
.wrapper-text-cart h4 {
    color: var(--base-green);
    margin-top: 0.5rem
}
.open-cart {
    position: relative;
}
.list-cart {
    transition: all 0.5s;
}
.list-cart.active {
    position: absolute;
    right: 0;
    top: 30px;
    width: 200px;
    height: 200px;
    background: var(--light-green);
    z-index: 3;
}
/*FIM CART*/
/*WRAPPER-USER*/
.wrapper-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.wrapper-user .img-user {
    width: 4rem;
    height: 4rem;
    transition: all 0.3s;
    position: relative;
}
.wrapper-user .img-user::before {
    position: absolute;
    content: "";
    inset: -10px;
    border: 5px solid var(--white);
    border-top-color: var(--btn-orange);
    border-bottom-color: var(--btn-orange-op);
    border-radius: 50%;
    animation: spin 3s linear infinite;
}
@keyframes spin {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}
.wrapper-user .img-user:hover {
   transform: scale(1.1);
}
.wrapper-user .img-user img {
    width: 100%;
    height: 100%;
}
.wrapper-user h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #253D4E;
}
.wrapper-user .chevron-down {
    cursor: pointer;
}
/*FIM WRAPPER-USER*/
