.container-categories-carrousel {
    max-width: 1200px;
    margin: 0 auto;
}

.carrousel-categories {
    width: 100%;
    position: relative;
    padding: 5rem 0;
}

.title-categories {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 3rem;
}
.title-categories h1 {
    font-weight: 600;
    font-size: var(--font-intermedium);
    line-height: var(--line-intermedium);
    color: var(--blue-300);

}
.title-categories .btn-categories button {
    font-weight: 500;
    font-size: var(--font-medium);
    line-height: var(--line-medium);
    color: var(--blue-300);
    background: transparent;
    margin-left: 2rem;
}
.title-categories .btn-categories button.active {
    color: var(--base-green);
}

/*
*
* THE SLIDER CONTAINER
*
*********************************/
.slider-categories {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    position: relative;
    padding: 2rem 0 3rem 0;
}



/*
*
* categories ELEMENTS!
*
*********************************/
.categories {
    width: 15.5rem;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    position: relative;
}
.categories:first-child {
    margin-left: 1rem;
}
.categories a {
    color: white;
    font-size: 0.8rem;
    text-align: center;
    padding: 2rem;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.5s ease;
}
.categories a.peach {
    background: var(--cat-yellow-100);
}
.categories a.vegetables {
    background: var(--cat-white-100);
}
.categories a.strawberry {
    background: var(--cat-green-100);
}
.categories a.apple {
    background: var(--cat-red-100);
}
.categories a.orange {
    background: var(--cat-green-300);
}
.categories a.potato {
    background: var(--cat-yellow-100);
}
.categories a.carrot {
    background: var(--cat-green-500);
}

.categories a:hover {
    transform: scale(1.1);
}
.categories img {
    object-fit: cover;
    height: 10rem;
    width: 10rem;
    border-radius: 10px;
}
.categories h2 {
    font-weight: 600;
    font-size: var(--font-large);
    line-height: var(--line-large);
    color: var(--blue-300);
}
.categories h4 {
    font-weight: 500;
    font-size: var(--font-xsmall);
    line-height: var(--line-xsmall);
    color: var(--gray);
}

/*
*
* BUTTONS
*
*********************************/
.btn-nav-categories {
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    outline: none;
    border: none;
    border-radius: 50%;
    z-index: 5;
}
.btn-nav-categories .fa-arrow-left, .btn-nav-categories .fa-arrow-right {
    color: var(--blue-300);
    font-size: 2.4rem;
}
.btn-nav-categories .fa-arrow-left:hover, .btn-nav-categories .fa-arrow-right:hover {
    transform: scale(1.2);
}

#moveLeftCategorie {
    left: 5%;
}

#moveRightCategorie {
    right: 5%;
}