:root {
    --base-green: #3BB77E;
    --light-green: #DEF9EC;
    --gray: #ADADAD;
    --gray-500: #5a5959;
    --blue-300 : #253d4e;
    --white: #FFFFFF;
    --white-100: #F4F6FA;
    --black: #000000;
    --tomato: #F35244;
    --btn-orange: #FFD480;
    --btn-orange-op: #e6be70;
    --yellow-bg-opacity: #fff5e1d9;
    --green-bg-opacity: #c5ead9c7;;
    --search-bg-header: #F3F3F3;
    --border-cards: #adadad40;

    /*Categories*/

    --cat-red-100: #FEEFEA;
    --cat-white-100: #f8f0f8;
    --cat-green-100: #F2FCE4;
    --cat-green-300: #ECFFEC;
    --cat-green-500: #DEF9EC;
    --cat-yellow-100: #FFFCEB;

    /*Fonts*/

    --quicksand: 'Quicksand';

    /*Font-size*/

    --font-small: 1.2rem;
    --font-xsmall: 1.4rem;
    --font-medium: 1.6rem;
    --font-large: 2.1rem;
    --font-intermedium: 3.2rem;
    --font-xlarge: 4.5rem;
    --font-huge: 5.5rem;

    /*Line-height*/

    --line-small: 1.5rem;
    --line-xsmall: 1.8rem;
    --line-medium: 2rem;
    --line-large: 2.6rem;
    --line-intermedium: 4rem;
    --line-xlarge: 4.8rem;
    --line-huge: 6.9rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: var(--quicksand);
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
button {
    border: none;
    cursor: pointer;
    font-family: var(----quicksand);
}
header {
    width: 100%;
    background: var(--white);
}